body {
    height: 40%;
    width: 30%
    margin: 0%;
}

#chat-bottom {
    position: fixed;
    bottom: 10px;
    padding-left : 8%;
    padding-right: 8%;
    background: white;
    height: 45px;
}

.panel-body {
    overflow-y: scroll;
    height: 85%;
}

.list-group-item {
    margin-bottom: 15px;
    border: 1px solid #fff;
}

.query {
    background: beige;
    text-align: -webkit-right;
}

.response {
    background: aliceblue;
    text-align: -webkit-left;
}
.suggestions{
  background-color: teal;
}
    